{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the home page</h1>
                <p>This is some text</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, dolorem. Accusamus amet consequuntur illum, quaerat est molestias ullam qui deleniti sequi tempora adipisci atque modi maiores a odit doloremque ducimus!</p>
            </div>
        </div>
    </div>
{{end}}
